collected_data/*
collected_data_autopilot/*
collected_data_customized/*
collected_data_basic_agent/*
collected_data_pid_agent/*
ga_intermediate.pkl
sample_data/*
temp/*
models/*
detectors/__pycache__/*
misbehaviors_log.txt
detectors/models/__pycache__/*
detectors/saved_models/*
__pycache__/*
bugs/*
dask-worker-space/*
plots/*
checkpoints/*
wandb/*
*.png
dt_data/*
non_dt_data/*
non_bugs/*
rerun/*
tmp_folder/*
current_scenario.json
data_for_analysis/*
run_results/*
scenario_files/*
